<!--
<div >
  <h2>Ex 1: Uppercase Pipe Example</h2>
  <input type="text" [(ngModel)]="inputText" placeholder="Type something..." />
  
  <p>{{ inputText | uppercase }}</p>
</div>


<h2>Ex 3: Celsius to Fahrenheit Pipe</h2>

<input type="number" [(ngModel)]="celsius" placeholder="Enter Celsius" />

@if (celsius !== null) {
  <p>Fahrenheit: {{ celsius | ex3ctof }}</p>
}

<h2>Ex4: Highlight & Strikethrough</h2>

<input type="text" [(ngModel)]="name" placeholder="Enter text" />

<p *ngIf="name" ex4highlightstrikethru>{{ name }}</p>
-->

<h1>Movie CRUD App (Ex5)</h1>
<app-ex5-movielist></app-ex5-movielist>




